#page_2, #page_3 {
  display: none;
}

#prev_button, #try_button {
  display: none;
}

#ham_menu {
  display: none;
}

body{
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.ham {
    transition-duration: 0.6s;
    pointer-events: all;
    cursor: pointer;
    transition: transform 0.4s ease-in-out,
        opacity 0.4s ease-in-out;

}

.ham_1_animate {
    transform-origin: 95.5% 6%;
    transition-timing-function: ease-in-out;
    transform: rotate(-35deg);
    transition-duration: 0.6s;
}

.ham_2_animate {
    transition-timing-function: ease-in-out;
    opacity: 0;
    transition-duration: 0.6s;
}


.ham_3_animate {
    transform-origin: 95.5% 8%;
    transition-timing-function: ease-in-out;
    transform: rotate(35deg);
    transition-duration: 0.6s;
}


.menu_list{
    opacity: 0;
    transition-duration: 0.2s;
}



.menu_show {
    opacity: 1;
    transition-duration: 0.8s;
}

.buttons{
  opacity: 1;
  transition-duration: 0.5s;
}

.btn_hide {
  opacity: 0;
  transition-duration: 0.5s;
}
