body {
  margin: 0;
  overflow-y: hidden;
}

.ham {
  transition-duration: 0.6s;
  pointer-events: all;
  cursor: pointer;
  transition: transform 0.4s ease-in-out,
    opacity 0.4s ease-in-out;
}

.ham_1_animate {
  transform-origin: 95.5% 6%;
  transition-timing-function: ease-in-out;
  transform: rotate(-35deg);
  transition-duration: 0.6s;
}

.ham_2_animate {
  transition-timing-function: ease-in-out;
  opacity: 0;
  transition-duration: 0.6s;
}

.ham_3_animate {
  transform-origin: 95.5% 8%;
  transition-timing-function: ease-in-out;
  transform: rotate(35deg);
  transition-duration: 0.6s;
}

#demo_img {
  z-index: -10;
}

#ham {
  width: 116.9px;
  position: absolute;
  transition-duration: 0.6s;
  top: 0;
  right: 0;
  cursor: pointer;
}

#bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  z-index: 90;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -12%;
}

.sshambg {
  transform: translateX(20px);
}

.backBtn {
  transition: all 0.3s ease-in-out;
  transform-origin: 90% 55%;
}

.homeBtn {
  transition: all 0.3s ease-in-out;
  transform-origin: 8% 56%;
}

.backBtnMove {
  transform: translateY(100px);
}

.homeBtnMove {
  transform: translateY(200px);
}

.iconBtn:hover {
  cursor: pointer;
}

#isoMetric{
   display: block;
}

.apAnim{
  display: none;
}
.ssAnim{
  display: none;
}
.isoAnim{
  opacity: 0;
}

.logo{
  cursor: pointer;
}
#barbarbar .logo{
  display:block;
}
#barbarbar, input{
  transform: translateY(510px);
}


.barInpShow{
  transform: translateY(-510px);
  display: block;
  opacity: 1;
  transition: 0.3s ease-in;

}

.menuTxt{
  opacity: 0.5
}
.menuTxt:hover{
  opacity: 1;
  cursor: pointer;
}



.image{
  opacity: 0;
}


input{
  position: relative;
  width: 91%;
  -webkit-appearance: none;
}

input[type=range].ap::-webkit-slider-runnable-track {
  margin-top: -430px;
  width: 100%;
  height: 10px;
  border: none;
  background-color: #4f7dbf;
  border-radius: 10px;
  margin-left: 37px;
}

input[type=range].ap::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #a0c2e7;
  margin-top: -8px;
}

input[type=range].ss::-webkit-slider-runnable-track {
  margin-top: -310px;
  width: 100%;
  height: 10px;
  border: none;
  background-color: #d55252;
  border-radius: 10px;
  margin-left: 37px;
}

input[type=range].ss::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #dd9f9e;
  margin-top: -8px;
}

input[type=range].iso::-webkit-slider-runnable-track {
  margin-top: -180px;
  width: 100%;
  height: 10px;
  border: none;
  background-color: #ffcd34;
  border-radius: 10px;
  margin-left: 35px;
}

input[type=range].iso::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fdeec0;
  margin-top: -8px;
}
