@import url('https://fonts.googleapis.com/css?family=Lato');



body {
  margin: auto;
  width: 500px;
}

#page2, #page3 {
  display: none;
}

#arrowLeft {
  display: none;
}




.ham {
    transition-duration: 0.6s;
    pointer-events: all;
    cursor: pointer;
    transition: transform 0.4s ease-in-out,
        opacity 0.4s ease-in-out;

}

.ham_1_animate {
    transform-origin: 95.5% 6%;
    transition-timing-function: ease-in-out;
    transform: rotate(-35deg);
    transition-duration: 0.6s;
}

.ham_2_animate {
    transition-timing-function: ease-in-out;
    opacity: 0;
    transition-duration: 0.6s;
}


.ham_3_animate {
    transform-origin: 95.5% 8%;
    transition-timing-function: ease-in-out;
    transform: rotate(35deg);
    transition-duration: 0.6s;
}


.menu_list{
    display: none;
    transition-duration: 0.2s;
    transform: translateX(450px);
}

.menu_show {
    display: block;
    transform:translateX(0px);
    transition-duration: 0.8s;
}

.buttons{
  opacity: 1;
  transition-duration: 0.5s;
}

.btn_hide {
  opacity: 0;
  transition-duration: 0.5s;
}

.cardSlide {
  display: none;
  transition-duration: 0.2s;
  transform: translateY(50px);
}

.cardShow {
  display: block;
  transition-duration: 0.8s;
  transform: translateY(0px);
}


.menuTxt{
  opacity: 0.5;
}
.menuTxt:hover{
  opacity: 1;
  cursor: pointer;
}
