/*-----TABLE OF CONTENT-----
    1. body
    2. svg

fonts:
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;

@media only screen and (max-width: 739px)
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:300,400,700');

body {
  margin: 0;
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

svg {
    transform-origin: 50% 40%;
    animation: show 1.5s ease-in-out;
}
